{% extends "base.html" %}

{% block title %}Home - DevThoughts{% endblock %}

{% block content %}

<!-- Hero Section -->
<div class="hero-post mb-4" >

    {% for post in featured_posts %}
        {% if forloop.first %}
        <div class="hero-post-content text-center text-md-start" >
            <h1 class="h2 h1-md">{{ post.title }}</h1>
            <p class="lead">
                {{ post.short_desc| truncatewords:13 }}
            </p>
            <a href="#" class="read-more">Read Full Article →</a>
        </div>
        {% endif %}
    {% endfor %}
</div>


<!-- Two Featured Cards -->
<div class="row mb-4">
    <h2 class="fw-bold mb-4 text-dark border-bottom pb-2">
    Featured Posts
    </h2>
    {% for featured_post in featured_posts %}
        {% if not forloop.first %}
        <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="post-card h-100">
                    <h3>{{ featured_post.title }}</h3>
                    <p class="post-meta">{{ featured_post.created_at| timesince }} • by {{ featured_post.author }}</p>
                    <p>{{ featured_post.short_desc }}</p>
                </div>
        </div>
        {% endif %}
    {% endfor %}

</div>

<!-- Main + Sidebar -->
<div class="row">

    <div class="col-12 col-md-8 mb-4 mb-md-0">
        <h2 class="fw-bold mb-4 text-dark border-bottom pb-2">
        Blog Posts
        </h2>
        {% for blog in blogs %}
            <div class="post-card">
                <h3>{{ blog.title }}</h3>
                <p class="post-meta">
                    {{ blog.created_at| timesince }} by
                    <a href="#" class="author-link; text-dark" >{{ blog.author }}</a>
                </p>
                <p>
                    {{ blog.short_desc }}
                </p>
            </div>
        {% endfor %}
    </div>

    <aside class="col-12 col-md-4">
        <div class="sidebar-widget mb-4">
            <h4>💡 About This Blog</h4>
            <p>
                A platform where developers share real-world Django insights.
            </p>
        </div>

        <div class="sidebar-widget">
            <h4>🔗 Connect With Us</h4>
            <ul class="social-links list-unstyled">
                <li><a href="#">GitHub</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">LinkedIn</a></li>
                <li><a href="#">Discord</a></li>
            </ul>
        </div>
    </aside>

</div>

{% endblock %}
